<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Cidades"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes cidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalhes cidade</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" [src]="imageCity" />
    <ion-card-header>
      <ion-card-title>{{nameCity}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h1 class="leos">Tivemos <b>{{howManyLeos}}</b> Leonardos nascidos aqui!</h1>
      <p *ngIf="howManyLeos != '0'">
        Data da última validação do IBGE: {{lastRangeCity}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>